<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="client_key" value="" />
    <add key="client_key_secret" value="" />
    <add key="bearer_key" value="" />
    <add key="downloadPath" value="" />
    <add key="interval" value="" />
    <add key="scope" value="yeji|yeji\,hwang yeji|yeji\,itzy yeji|yeji\,wooah nana|nana\,kwon nayeon|nana\,wooyeon|wooyeon\,jae yee eun|j\,wooah sora|sora\,sora|sora\,ryujin|ryujin\,chaeryeong|squid\" />
  </appSettings>
</configuration>