<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="client_key" value="" />
    <add key="client_key_secret" value="" />
    <add key="bearer_key" value="" />
    <add key="downloadPath" value="" />
    <add key="interval" value="" />
    <add key="scope" value="st|yeji|yeji\,st|hwang yeji|yeji\,p|itzyofficial|itzy/" />
  </appSettings>
</configuration>